{% load staticfiles %}
<html>
    <head>
        <title>PubData</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Spectral" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/searchengine.css' %}">
        <script type="text/javascript" src="{% static 'js/searchengine.js' %}"></script> 
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">
          <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{% static 'css/multi-select.css' %}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.multi-select.js' %}"></script>
    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <p class="top-menu"><b>{{ user.username }}</b> <<a href="{% url 'logout' %}">Log out</a>></p>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="/">PubData</a></h1>
        <img id="header_image" src="{% static 'img/PubData_logo_min.png' %}">
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-offset-2">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript">
        $("#id_word").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#submit_search").click();
            }
        })
    </script>
  <script type="text/javascript">
  // run pre selected options
    $('#pre-selected-options').multiSelect();
    $('#select-all').click(function(){
    $('#pre-selected-options').multiSelect('select_all');
        return false;
        });
    $('#deselect-all').click(function(){
    $('#pre-selected-options').multiSelect('deselect_all');
        return false;
        });
    $("submit_search").click(function(){search_result()})
  </script>

</html>
