{% extends 'SearchEngine/base.html' %}
{% block content %}
    <h1>Select server</h1>
    <p class="select-all"><a href='#' id='select-all'>select all</a></p>
	<p class="deselect-all"><a href='#' id='deselect-all'>deselect all</a></p>
    <form id='pre-selected-options' multiple='multiple'>{% csrf_token %}
    	{% for name in servers %}
    		<option value={{name.path}} title={{name.path}}>{{name}}</option>
    	{% endfor %}
    </form>
    <h1>Enter your Keyword here</h1>
    <div class="post-form" >
        {{ search_form.as_p }}
        <button id="submit_search" class="save btn btn-default" 
        onclick="return search_result()" type="submit">Search</button>
    </div>
    {% if user.is_authenticated %}
        <div class="recommendations">
            <ul>
                <p> Recommended words for you: </p>
                {% for word in recommended_words %}
                <li><a href="search_result/{{word.0}}" > {{word.0}}, </a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}